<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title> Muhammad Alfath Fiqhya Amrinagara</title>
        <style>
            p.solid {border-style: solid;}
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            h2 {text-align: center;}
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            body  {
                background-color: rgb(51, 54, 54);
            }
            .bio{
            width: 101%;
            margin-top: 0%;
            margin-right: -100;
            background-color: #31CD7A;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            }

            .pendidikan{
            width: 101%;
            margin-top: 0%;
            margin-right: -100;
            background-color: #31CD7A;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            }

            .kontak{
            width: 101%;
            margin-top: 0%;
            margin-right: -100;
            background-color: #31CD7A;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            }
        </style>
    </head>

    <body>
        <header>
            <h1 style="color:rgb(255, 255, 255)"> MUHAMMAD ALFATH FIQHYA AMRINAGARA</h1>   
        </header>

    <img src="{% static 'FR37.jpg' %}" width="250" height="400" border= "5">
    <h2 style="color:rgb(255, 255, 255)"> BIO</h2>
    <div class="bio">    
        <p style="font-family:verdana"> Nama: Muhammad Alfath Fiqhya Amrinagara (Alfath)</p>
        <p style="font-family:verdana">NPM: 1906299036</p>
        <p style="font-family:verdana">Angkatan: 2019</p>
        <p style="font-family:verdana">Hobby: Mendengarkan Musik</p>
        <p style="font-family:verdana"> Description: Seseorang Yang Suka Membuat Orang Lain Bahagia</p>
    </div>

    <h2 style="color:rgb(255, 255, 255)"> PENDIDIKAN</h2>
    <div class="pendidikan">
    <p style="font-family:verdana">2007-2013 : Global Islamic School</p>
    <p style="font-family:verdana">2013-2016 : MTsN 7 Jakarta</p>
    <p style="font-family:verdana">2016-2019 : MAN 13 Jakarta</p>
    <p style="font-family:verdana">2019-Sekarang : Fakultas Ilmu Komputer Universitas Indonesia</p>
    </div>
    
    <h2 style="color:rgb(255, 255, 255)"> KONTAK</h2>
    <div class="kontak">
    <p style="font-family:verdana"><a href="https://www.instagram.com/alfathfiqhya"> Instagram :alfathfiqhya</a></p>
    </div>
</body>
</html>